.pagination_container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  .page_changer_container {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    .arrow_left {
      margin-right: 15px;
      cursor: pointer;
    }
    .pagination_dots {
      margin: 0 5px;
      cursor: default;
    }

    .pagination_number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      border-radius: 2px;
      color: #1A1718;
      cursor: pointer;
      margin: 0 5px;
    }
    .selected {
      color: #FCFBFB;
      background-color: #1A1718;
    }

    .arrow_right {
      margin-left: 15px;
      cursor: pointer;
    }

    .disabled {
      pointer-events: none;
    }
  }
  .show {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1A1718;
  }
}
